<<<<<<< HEAD
body{ font-family: 'Roboto', sans-serif;
    background-color: lightblue;
}
h1{ font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: wheat;
}
h2{
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    color: yellow;
}
nav{font-family: 'Open ', sans-serif;}
img{
    max-width: 100%;
    width: 35%;
    height: auto;
    transform: translateX(50%);
}
dialog{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%); 
    width: 50%;

=======
body{ font-family: 'Roboto', sans-serif;
    background-color: lightblue;
}
h1{ font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: wheat;
}
h2{
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    color: yellow;
}
nav{font-family: 'Open ', sans-serif;}
img{
    max-width: 100%;
    width: 35%;
    height: auto;
    transform: translateX(50%);
}
dialog{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%); 
    width: 50%;

>>>>>>> ba69842016359bf3b9c673aeb8109b01994bf4c0
}