@media screen and (max-width: 600px) {
    .lbl-menu {
      display: flex;
    flex-direction: column;
    justify-content: flex-start;
    } 
  
    .lbl-menu--icono{
      transform: scale(0.7);
    }
  
  }