

.avatar{
    width: 200px;
    height: 200px;
    background-color: white;
    border: solid 5px white;
    border-radius: 50%;
    background-image: url('../imagenes/avatar.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}   
