@media all and (min-width: 500px) {
    /* We tell both sidebars to share a row */
 body{
        margin: 0px;
    }
main{
    background-color: #e9b6f0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    border: 0px;
    margin: 0px;
}

div{
margin-top: 10px;
        border: 3px dotted #f7903c;
    max-width: 1080px;
    min-width: 500px;
    max-height: 500px;
    min-height: 200px;
    background-color: aquamarine;
}
}